[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "geodiv"]
	path = geodiv
	url = https://github.com/bioxgeo/geodiv
	shallow = true
	registered = true
